@import 'global';

.container__form {
  display: flex;
  flex-direction: column-reverse;

  @include breakpoint($bp-xs) {
    flex-direction: row;
  }

  form {
    width: 100%;

    @include breakpoint($bp-xs) {
      width: 70%;
    }
  }
}