/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.container {
  max-width: 1200px;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      max-width: 50%;
    }

    mat-radio-group {
      max-width: 40%;
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
    }
  }

  .btns {
    display: flex;
    justify-content: flex-end;
  }
}
