/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'global';

.container {
  max-width: $container-max-width;
  margin: 0 auto;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      max-width: 100%;

      @include breakpoint($bp-xs) {
        width: 50%;
      }
    }

    mat-radio-group {
      max-width: 1000%;
      display: flex;
      justify-content: space-between;
      padding: $fields-padding;

      @include breakpoint($bp-xs) {
        width: 50%;
      }
    }
  }

  .btns {
    display: flex;
    justify-content: flex-end;
  }
}
